{% extends "base.html" %}

{% block head %}
  <style>
    body {
      font-family: "Ubuntu Mono", monospace;
      font-size: 14px;
    }
    .upload {
      margin-bottom: 20px;
    }
    .result {
      display: none;
    }
    .result_url {
      width: 200px;
      background: #FFF;
      border: 1px solid #DDD;
      padding: 5px;
    }
    .progress {
      display: none;
    }
  </style>
{% endblock %}

{% block body %}
  <form class="upload" method="post" enctype="multipart/form-data">
    <input class="upload_file" type="file" name="file">
    {% csrf_token %}
  </form>
  <div class="progress">
    <div class="progress_title">Uploading: <span class="progress_value"></span></div>
    <progress class="progress_bar" max="100" value="0"></progress>
  </div>
  <div class="result">
    <div class="result_title">Direct link:</div>
    <input class="result_url" type="text" readonly>
  </div>
{% endblock %}

{% block scripts %}
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script>

  <script>
    $(function() {
      $('.upload').submit(function(e) {
        e.preventDefault();
        $('.result').hide();
        $('.upload').hide();
        $('.progress').show();
        var data = new FormData(this);

        $.ajax('/', {
          data: data,
          type: 'POST',
          dataType: 'json',
          contentType: false,
          processData: false,
          xhr() {
            var xhr = $.ajaxSettings.xhr();
            xhr.upload.addEventListener('progress', handleProgress, false);
            return xhr;
          }
        }).then(res => {
          $('.result').show();
          $('.upload').show();
          $('.progress').hide();
          $('.result_url').val(res.url).select();
          document.execCommand('copy');
        });
      });

      $('.upload_file').change(function() {
        $('.upload').submit();
        $(this).val('');
      });

      $('.result_url').click(function(e) {
        e.preventDefault();
        $(this).select();
      });

      function handleProgress(progress) {
        var percent = Math.round(100 / progress.total * progress.loaded, 2);
        $('.progress_bar').attr('value', percent);
        $('.progress_value').text(percent + '%');
      }
    });
  </script>
{% endblock %}
